{% extends 'pages/model.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block titulo %}
    <title>incluir registro:: target</title>
{% endblock %}


{% block conteudo %}
    <section id="hero" class="main">
        <h3>Inclusão de Novo Registro</h3>
        <p>
            Por favor, informe todos dados necessários para cadastro..
        </p>
    <hr>
    <form action="" method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <hr class="mt-4">
        <button type="submit" class="btn btn-light">
            Cadastrar
        </button>

    </form>

    </section>



{% endblock %}