{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta charset="UTF-8">

    <!-- Vendor CSS Files -->
    <link href="../../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../../../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../../static/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="../../../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
          rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="../../../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    {% block title %}
        <title>Model</title>
    {% endblock %}

</head>
{% block menu %}
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="{% url 'index' %}"><span>Target Control</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="{% url 'index' %}">Principal</a></li>
                    <li><a href="{% url 'reg-target' %}">Targets</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>

    </header>
{% endblock %}

<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% block main %}
    <section>

    </section>
{% endblock %}

<main>
    <div class="col-md-6 offset-md-3">
        {% block content %}
        {% endblock %}
    </div>
</main>

</body>

{% block footer %}
    <footer id="footer" class="footer fixed-bottom">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright">
                        &copy; Copyright <strong>Target Control</strong>. Todos diretos reservados.
                    </div>
                    <div class="credits">
                        Desenvolvido por <a href="https://github.com/lhggomes/">Lucas Henrique Gomes</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
</html>